1) Display array


<div ng-app="myApp" style="float: none;margin: 0 auto" class="col-xs-6">

    <div class="show-scope-demo">
        <div ng-controller="GreetController">
            Hello @{{name}}!
        </div>
        <div ng-controller="ListController">
             <ol>
               <li ng-repeat="name in names">@{{name}} from @{{department}}</li> <!--ng-repeat работает почти также как foreach -->
            </ol>
        </div>
    </div>

</div>

<script type="text/javascript">
	
var myApp = angular.module('myApp', []);
myApp.controller('GreetController', ['$scope', '$rootScope', function($scope, $rootScope) {
    $scope.name = 'World';
    $rootScope.department = 'Angular';
}]);
myApp.controller('ListController', ['$scope', function($scope) {
    $scope.names = ['Igor', 'Misko', 'Vojta'];
}]);

</script>



2) Push data from form to array


 <div ng-controller="EventController">
                    <input type="text" ng-model="name">
                    <input type="number" ng-model="age">
                    <button ng-click="retrive(name,age)">click</button>
 </div>

 <script type="text/javascript">
 	
var myApp = angular.module('myApp', []);
myApp.controller('EventController', ['$scope','getdata', function($scope, getdata) {
    $scope.retrive = function(name,age) {
        getdata(name, age); //передаем параметры в метод добавления данных в массив
        $scope.name = '';   //обнуляем инпуты
        $scope.age = '';
    };
}]);
myApp.factory('getdata', ['$interval', '$log', function($interval, $log) {
    var formdata = [];

    return function(name,age) {
        formdata.push([name+':'+age]);  //помещаем данные в многомерный массив
    }
}]);

 </script>


 3) Помещаем числа из формы в массив и выводим сумму этих числе с помощью Eval

 			<div ng-app="myApp" style="float: none;margin: 0 auto" class="col-xs-6">
                <div ng-controller="ExampleController" class="expressions">
                    Expression:
                    <input type='text' ng-model="expr" size="80"/>
                    <button ng-click="addExp(expr)">Evaluate</button>
                    <ul>
                        <li ng-repeat="expr in exprs track by $index">    <!--ng-repeat помогает перебрать все элемента массива exprs -->
                            [ <button href="" ng-click="removeExp($index)">X</button> ]  <!--Кнопка удаление ячейки массива -->
                            <code>@{{expr}}</code> => <span ng-bind="$parent.$eval(expr)"></span> <!-- parent позволяет обратиться к родительскому елементу -> eval (суммирует числа которые мы ввели в интуп) --> и ТУТ ОТОБРАЖАЮТЬСЯ ВСЕ ЭЛЕМЕНТА МАССИВА В Новом <li> элементе
                        </li>
                    </ul>
                </div>
            </div>


            <script type="text/javascript">
            	
            	var module = angular.module('myApp', []);

				module.controller('ExampleController', ['$scope', function($scope) {
				    $scope.exprs = []; //array containes all sum data
				    $scope.addExp = function(expr) {
				        $scope.exprs.push(expr);          //push data into array
				        $scope.expr = '';
				    };
				    $scope.removeExp = function(index) {
				        $scope.exprs.splice(index, 1); //remove item from array by index -> index (array column number) and second is number of remove column
				    };
				}]);

            </script>




    